<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Core" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest.2010" />
    <language feature="ru-RU" tool="ru-RU" />
    <bindingCulture name="ru-RU" />
    <plugins>
      <add name="MSTestExtendedGenerator" type="Generator" path=".\libs" />
    </plugins>
  </specFlow>
  <appSettings>
    <add key="baseUrl" value="http://192.168.38.101:9093" />
    <add key="browser" value="Firefox" />
    <add key="screenshortsPath" value="D:\Tests" />
  </appSettings>
</configuration>